<ModConfiguration>
	<Id>nailgunster2.PowerDissipator</Id>
	<Name>Power Dissipator</Name>
  <Description>
    Dissipates energy to the void at max available PPS. Shows PPS.
    Can be used to stress test your power grid at huge load. It will show how much PPS you can generate and transfer. This could be used to find bottlenecks in your grid. Also it will show peak PPS transfer from connected block face.
    
    Build it with manufacturing plant under Power Storage tab.
    
    Source: https://github.com/nailgun/FCE_PowerDissipator
  </Description>
  <ChangeNote>First release</ChangeNote>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
</ModConfiguration>
